{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5">

        <div class="card shadow">
            <div class="card-body">

                <h3 class="text-center mb-4">Entrar no CHAMÔ</h3>

                <form method="post">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <button class="btn btn-success w-100">
                        Entrar
                    </button>
                </form>

            </div>
        </div>

    </div>
</div>

{% endblock %}