html, body{
    color: #ff7a00;
    height:100%;
    margin:0;
    background-image: url("../img/fundo_chamo-removebg-preview.png");
    font-family: poppins, sans-serif;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50% 50%;
    
}

.circulo-bg{
    position: fixed;
    width: 1500px;
    height: 1500px;
    background-color: #ff7a00;
    border-radius: 50%;

    left: -590px;
    top: 50%;
    transform: translateY(-50%);

    z-index: 0;
}




.login-card{
    max-width: 420px;
    background: rgba(255, 255, 255, .08);
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 22px;
    padding: 2rem;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(7px);
}

.form-control{
    background-color: rgba(255, 255, 255, .12);
    border: 1px solid rgba(255, 255, 255, .25);
    color: white;
}

.form-control::placeholder{
    color: rgba(255, 255, 255, 0.8);
}

.form-control:focus{
    background: rgba(0, 0, 0, 0.12 );
    border-color: 1px solid rgba(255, 255, 255, .25);
}

.btn{
    border-radius: 999px;
    padding: 0.7rem;
}

.logo{
    position: absolute;
    top: 20px;
    right: 30px;
    width: 120px;
}

.quadrado-bg{
    position: fixed;
    width: 1500px;
    height: 1500px;
    background-color: #ffffff;
    border-radius: 50%;

    left: -590px;
    top: 50%;
    transform: translateY(-50%);

    z-index: -1;
}

.login-card p a{
    color: #ff7a00;
}