{% extends 'base.html' %}

{% block content %}

<h2>Área do Prestador 🔧</h2>

<a href="{% url 'services:criar_servico' %}">
    ➕ Novo Serviço
</a>

<br><br>

<a href="{% url 'services:pedidos_prestador' %}">
    📥 Ver Pedidos Recebidos
</a>

<hr>

<h3>Meus Serviços</h3>

{% for servico in servicos %}
    <p>
        <strong>{{ servico.nome }}</strong>

        <a href="{% url 'services:editar_servico' servico.id %}">
            Editar
        </a>

        <a href="{% url 'services:excluir_servico' servico.id %}">
            Excluir
        </a>
    </p>
{% empty %}
<p>Você ainda não cadastrou serviços.</p>
{% endfor %}

{% endblock %}