{% extends 'base.html' %} <!-- Não apagar-->
{% block content %} <!-- Não apagar-->

<body class="d-flex align">
    
</body>






                <form method="post">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <input type="submit" value="Criar conta">

                </form>

                <div class="text-center mt-3">
                    Já tem conta?
                    <a href="{% url 'login' %}">Entrar</a>
                </div>

{% endblock %}